*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background-color: #4682B4;
    margin-top: 130px;
}

a{    
    color: black;
    font-family: 'Lucida Sans';
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 4px 5px 15px #fff;
}

a:hover{
    transition: 3s;
    color: #fff;
    font-size: 45px;    
    text-shadow: 4px 5px 10px #000;
}